<div class="navbar">
    <div class="nav-item1">
        <a class="" href="">Mikel Kunze</a>
    </div>
    <nav class="navbar-row">
        <div class="nav-item">
            <NavLink  href="#" Match="NavLinkMatch.All">
                @Ressourcen.Resources.navHome
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink  href="#about" Match="NavLinkMatch.All">
                @Ressourcen.Resources.navAbout
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink  href="#experience" Match="NavLinkMatch.All">
                @Ressourcen.Resources.navSkills
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink  href="#projects" Match="NavLinkMatch.All">
                @Ressourcen.Resources.navProjects
            </NavLink>
        </div>
    </nav>
</div>
