a {
    text-decoration: none;
}

.navbar {
    display: flex;
    background-color: var(--color-background-navbar);
    position: sticky;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.navbar-row {
    display: flex;
}

@media (min-width: 400px) {
    .nav-item1 {
        display: none;
    }
    .nav-item {
        padding: 5px;
    }
}

.nav-item {
    display: flex;  
    padding: 20px; 
}

.nav-item1 {
    display: flex;
    padding: 20px;   
}
