<div class="navbar">
    <div class="nav-item">
        <a class="" href="">Mikel Kunze</a>
    </div>
    <nav class="navbar-row">
        <div class="nav-item">
            <NavLink  href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink  href="" Match="NavLinkMatch.All">
                Über mich
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink  href="" Match="NavLinkMatch.All">
                Erfahrung
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink  href="" Match="NavLinkMatch.All">
                Projekte
            </NavLink>
        </div>
    </nav>
</div>
