@page "/"

<PageTitle>@Resources.pageTitle</PageTitle>

<div class="welcome-section">
    <h1>@Ressourcen.Resources.welcome</h1>
    <div class="about-section">

    </div>
</div>
<div class="skills-section">
    <Skills />
</div>
<div class="project-section">
    <Skills />
</div>
