:root {
    --color-background: #2D3748;
    --color-background-navbar: #222B36;
    --color-accent: #FC8181; 
    --color-text-primary: #F7FAFC;
    --color-text-secondary: #BCCCDC;
    --color-neutral: #E2E8F0;
    --color-accent-hover: #FF9B9B;
    --color-box: #3A475A;
}